<% if (modules['dojo-widgets']) { %>
@import '../node_modules/dojo-widgets/src/themes/basic/basic.styl';
<% } %>

body {
	padding: 1em;
}

.border-right {
	border-right: 1px solid #aaa;
}

dojo-list.margin-1em {
	margin: 1em;
	width: 400px;
}

.pad-1em {
	padding: 1em;
}
